* {
  margin: 0;
  padding: 0;
}

html {
  background: url("../assets/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #1a252b;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

$min-desktop: 900px;
$max-desktop: 1920px;

$dealer-pos: 80px;
$dealer-hand: calc(#{$dealer-pos} + 80px);
$dealer-mobile-pos: 10px;
$dealer-hand-mobile: calc(#{$dealer-mobile-pos} + 100px);

$player-pos: 320px;
$player-hand: calc(#{$player-pos} + 80px);
$player-mobile-pos: 240px;
$player-hand-mobile: calc(#{$player-mobile-pos} + 100px);

@mixin min-desktop {
  @media (min-width: #{$min-desktop}) {
    @content;
  }
}

@mixin max-desktop {
  @media (min-width: #{$max-desktop}) {
    @content;
  }
}

.root {
  @include min-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.loadInAnimation {
  animation: loadTransition 1.6s;
}

.gameWrapper {
  position: relative;
}

.playerHeader,
.dealerHeader {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

.header {
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  text-shadow: 2px 2px 8px #000000;
}

.btnWrapper {
  text-align: center;
}

.btn {
  @include min-desktop {
    margin: 10px;
  }
  background-color: black;
  width: 14rem;
  height: 4rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px;
  border: 2px solid greenyellow;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0.5px greenyellow;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: greenyellow;
  color: black;
  box-shadow: 0px 0px 20px 2px greenyellow;
}

.btn:active {
  background-color: greenyellow;
  color: black;
  box-shadow: inset 0 0 10px #000000, 0px 0px 20px 2px greenyellow;
  font-size: 1.9rem;
}

.gameUI {
  position: relative;
}

.rectangle {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  align-content: center;
  text-align: center;
}

.cardOutlineWrapper {
  position: relative;
  text-align: center;
}

.dealerArea {
  @include min-desktop {
    top: $dealer-pos;
  }
  position: absolute;
  top: $dealer-mobile-pos;
}

.playerArea {
  @include min-desktop {
    top: $player-pos;
  }
  position: absolute;
  top: $player-mobile-pos;
}

.dealerArea,
.playerArea {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.cardOutlinePlayer,
.cardOutlineDealer {
  @include min-desktop {
    margin: 0px;
  }

  margin: 20px;
}

.cardOutlineDealer {
  position: relative;
  height: 132px;
  width: 86px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 1rem;
}

.cardOutlinePlayer {
  position: relative;
  height: 132px;
  width: 86px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 1rem;
}

.playerHandVal,
.dealerHandVal {
  height: 70px;
  width: 65px;
  margin: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

.uiText {
  @include min-desktop {
    font-size: 3rem;
  }
  margin: auto;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.errorText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #ff4a4a;
}

input[type="text"] {
  height: 50px;
  width: 220px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.uiBox {
  @include min-desktop {
    width: 200px;
    margin-top: 30px;
  }
  height: 20px;
  border-radius: 1rem;
  border: 2px solid orange;
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.currentBet {
}

.totalBalance {
}

.dealerHand,
.playerHand {
  justify-content: left;
  overflow: hidden;
  height: 132px;
  width: 100vw;
}

.dealerHand {
  @include min-desktop {
    top: $dealer-hand;
  }
  position: absolute;
  top: $dealer-hand-mobile;
}

.playerHand {
  @include min-desktop {
    top: $player-hand;
  }
  position: absolute;
  top: $player-hand-mobile;
}

.cardDealer,
.cardPlayer {
  position: absolute;
  height: 132px;
  width: 86px;
  left: 51%;
}

.btnFlexbox {
  @include min-desktop {
    top: 70vh;
  }
  position: fixed;
  bottom: 0%;
  width: 100vw;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gameBtn {
  @include min-desktop {
    margin: 20px;
    width: 220px;
    font-size: 1.7rem;
    background-color: black;
    margin: 10px;
    border-radius: 1rem;
  }
  padding: 10px;
  height: 70px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s;
  width: 100%;
  border: none;
}

.hitBtn {
  @include min-desktop {
    border: 2px solid #09ff00;
    box-shadow: 0px 0px 15px 0.5px #09ff00;
    background-color: #02b43d;
  }
  background-color: #00b62e;
}

.standBtn {
  @include min-desktop {
    border: 2px solid red;
    box-shadow: 0px 0px 15px 0.5px red;
    background-color: #ce3e3e;
  }
  background-color: rgb(255, 81, 0);
}

.splitBtn {
  position: absolute;
  top: 350px;
  left: 80%;
  border: 2px solid blue;
  box-shadow: 0px 0px 15px 0.5px blue;
}

.ddBtn {
  @include min-desktop {
    border: 2px solid blueviolet;
    box-shadow: 0px 0px 15px 0.5px blueviolet;
    background-color: rgb(122, 37, 201);
  }
  background-color: blueviolet;
}

.hitBtn:hover,
.hitBtn:focus {
  @include min-desktop {
    background-color: #09ff00;
    color: black;
    box-shadow: 0px 0px 20px 2px #09ff00;
  }
}
.hitBtn:active {
  @include min-desktop {
    font-size: 1.5rem;
    background-color: #09ff00;
    color: black;
    box-shadow: inset 0 0 10px #000000, 0px 0px 20px 2px #09ff00;
    font-size: 0.9rem;
  }
}

.standBtn:hover,
.standBtn:focus {
  @include min-desktop {
    background-color: red;
    color: black;
    box-shadow: 0px 0px 20px 2px red;
  }
}

.standBtn:active {
  @include min-desktop {
    font-size: 1.5rem;
    background-color: rgb(255, 81, 0);
    color: black;
    box-shadow: inset 0 0 10px #000000, 0px 0px 20px 2px red;
    font-size: 0.9rem;
  }
}

.splitBtn:hover,
.splitBtn:focus {
  background-color: blue;
  color: black;
  box-shadow: 0px 0px 20px 2px blue;
}

.splitBtn:active {
  @include min-desktop {
    font-size: 1.5rem;
  }
  background-color: blue;
  color: black;
  box-shadow: inset 0 0 10px #000000, 0px 0px 20px 2px blue;
  font-size: 0.9rem;
}

.ddBtn:hover,
.ddBtn:focus {
  @include min-desktop {
    background-color: blueviolet;
    color: black;
    box-shadow: 0px 0px 20px 2px blueviolet;
  }
}

.ddBtn:active {
  @include min-desktop {
    font-size: 1.5rem;
    background-color: blueviolet;
    color: black;
    box-shadow: inset 0 0 10px #000000, 0px 0px 20px 2px blueviolet;
    font-size: 0.9rem;
  }
}

.removeTransition {
  animation: fadeout 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
